@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  max-height: 100vh;
  background: white;
}
.overflow-class {
  overflow: auto;
}

.overflow-class::-webkit-scrollbar {
  width: 7px;
}

.overflow-class::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-class::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border: 2px;
  border-radius: 20px;
}

